.transition {
    left: 50%;
    width: 100vw;
    height: clamp(510px, 83vw, 1110px);
    margin-top: -40px;
    line-height: 0;
    pointer-events: none;
    transform: translateX(-50%);
}

.transitionShape {
    display: block;
    width: 100%;
    height: 100%;
}
